body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
header{
    display: flex;
    min-height: 70px;
    background-color:black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
h1{
    font-size:20px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin: right 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: purple;
}

.dv1{
    color: black;
    text-align: center;
}

.dv1 h1:hover{
color: blue;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
nav a:hover{
    color: blue;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}